body {
  margin: 0;
  padding: 0;
  font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial,
    Sans-serif;
  background-color: transparent;
  font-size: 18px;
  text-rendering: optimizeLegibility;
}
html {
  /* background: #282c34; */
  /* background: url(img1/hacking.png); */
  background: #fff;
  font-size: 70%;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
::selection {
  background: #333333;
  color: #fff;
}

element.style {
  opacity: 1;
  top: 0px;
}

/* body div {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: bottom;
    background: transparent;
  } */
header {
  background: #111111;
  /* color: #f5f5f5; */
  padding: 0px 32px;
  font-size: 1.6rem;
  font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial,
    Sans-serif;
  /* text-align: center; */
}
/* header div, */
header div a,
header nav li a {
  color: #f5f5f5;
  margin-right: 35px;
}
/* ! update */
@media(max-width: 890px){
    header nav ul .page-item{
         display: none;
    }
}
.col-12 {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#logo {
  color: #dd3e54;
  margin-left: 30px;
  font-size: 55px;
  font-weight: 600;
  font-family: cursive;
  /* font-family: 'Courier New', Courier, monospace; */
}
#logodiv {
  background-color: rgb(29, 41, 41);
  cursor: pointer;
  border-radius: 80% 10%;
  border: 1px solid white;
}
#logodiv:hover {
  background-color: darkslategrey;
}

/* header a.logo {
    background: transparent url(img/logo/h1.png) -200px;
    width: 51px;
    height: 53px;
    display: block;
    position: absolute;
    left: 4%;
    top: 18px;
    text-indent: -9999px;
  } */
/* ! */

header li.hackerrank a {
  background: transparent url(img1/social.png)-63.5px -185px;
  /* border: 1px solid white; */
  width: 34px;
  height: 33px;
  display: block;
  position: absolute;
  right: 5%;
  top: 31px;
  text-indent: -9999px;
}
header li.facebook a {
  background: transparent url(img1/social.png) 3px -186px;
  /* border: 1px solid white; */
  width: 35px;
  height: 33px;
  display: block;
  position: absolute;
  right: 10%;
  top: 31px;
  text-indent: -9999px;
}
@media (max-width: 890px) {
    header li.facebook a {
      right: 16%;
    }
  }
header li.linkedin a {
  background: transparent url(img1/social.png)-95px -185px;
  /* border: 1px solid white; */
  width: 35px;
  height: 33px;
  display: block;
  position: absolute;
  right: 15%;
  top: 31px;
  text-indent: -9999px;
}
@media (max-width: 890px) {
    header li.linkedin a {
      right: 27%;
    }
  }
header li.twitter a {
  background: transparent url(img1/social.png)-30px -185px;
  /* border: 1px solid white; */
  width: 35px;
  height: 33px;
  display: block;
  position: absolute;
  right: 20%;
  top: 31px;
  text-indent: -9999px;
}
@media (max-width: 890px) {
    header li.twitter a {
      right: 38%;
    }
}

header li.git a {
  background: transparent url(img1/git12.png)-3px -4px;
  /* border: 1px solid white; */
  width: 35px;
  height: 33px;
  display: block;
  position: absolute;
  right: 25%;
  top: 31px;
  text-indent: -9999px;
}
@media (max-width: 890px) {
  header li.git a {
    right: 49%;
  }
}

header nav {
  margin-left: 200px;
}
@media (max-width: 1010px) {
  header nav {
    margin-left: 100px;
  }
}
header ul li a:hover {
  opacity: 0.3;
}

footer {
  background: #f5f5f5;
  color: #666666;
  /* display: block; */
  height: 50px;
  padding: 40px 5% 0 5%;
  /* font-size: 16px; */
  font-size: 1.5rem;
  font-family: "proxima nova", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  text-align: center;
  position: relative;
  bottom: 0;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  clear: both;
}

#footer {
  /* margin: 0; */
  /* padding: 0; */
  /* border: 0; */
  outline: 0;
  /* font-size: 100%; */
  bottom: 0;
  position: relative;
  clear: both;
  vertical-align: bottom;
}
footer .left a {
  float: left;
  text-decoration: none;
}
footer .left {
  float: none !important;
}

footer a {
  color: #666666;
}
header a,
.animate-color,
footer a {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

a {
  text-decoration: none;
  cursor: pointer;
}
.clearfix,
section,
.row {
  *zoom: 1;
}
footer a.top {
  background: transparent url(img1/social.png) 0 -217px;
  width: 118px;
  height: 65px;
  display: block;
  position: absolute;
  border-radius: 60% 60% 20% 20%;
  left: 50%;
  margin-left: -59px;
  /* bottom: -40px; */
  bottom: 74px;
  text-indent: -9999px;
}
footer a.top:hover {
  bottom: 80px;
}
footer a:hover {
  color: #333333;
}
.item,
.top,
#logodiv,
.insta,
.twitter,
.facebook,
.linkedin,
header nav li a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.row:after {
  clear: both;
}
/* .clearfix:before,
  section:before,
  .row:before,
  .clearfix:after,
  section:after, */
.row:after {
  display: table;
  content: "";
}

ul[class="social"],
ul[id="nav-header"],
footer ul {
  display: contents;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
ul[class="social"] li,
ul[id="nav-header"] li,
footer ul li {
  display: contents;
  text-align: center;
}
footer ul li a {
  margin: 10px;
}

footer .right {
  float: right !important;
}
footer div nav {
  margin-right: 100px;
}
/* ! update */
@media (max-width: 900px) {
  footer nav {
    display: none;
    /* margin-right: 40px; */
  }
}

footer .row .right a.facebook {
  background: transparent url(img1/social.png) 0 -545px;
  /* background-color: aqua; */
  width: 51px;
  height: 53px;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: 24%;
  bottom: 15px;
  text-indent: -9999px;
}
@media (max-width: 900px) {
  footer .row .right a.facebook {
    right: 48%;
  }
}

footer .row .right a.twitter {
  background: transparent url(img1/social.png) 0 -597px;
  /* background-color: aqua; */
  width: 51px;
  height: 52px;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: 18%;
  bottom: 15px;
  text-indent: -9999px;
}
@media (max-width: 900px) {
  footer .row .right a.twitter {
    right: 34%;
  }
}

footer .row .right a.linkedin {
  background: transparent url(img1/social.png) 0 -699px;
  /* background-color: aqua; */
  width: 51px;
  height: 53px;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: 12%;
  bottom: 15px;
  text-indent: -9999px;
}
@media (max-width: 900px) {
  footer .row .right a.linkedin {
    right: 20%;
  }
}

footer .row .right a.insta {
  background: transparent url(img1/inta02.png)-7px -73px;
  /* background-color: aqua; */
  width: 51px;
  height: 53px;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: 6%;
  bottom: 15px;
  text-indent: -9999px;
}

footer .row .right a:hover {
  bottom: 22px;
}

/***/
/*************************************************  Pixel-2.0  ****************************************/
/***/

/* .big-container {
  padding: 20px;
  height: 100vh;
} */

.tagline {
  /* padding: 10px; */
  top: 30%;
  right: 20%;
  width: 420px;
  position: absolute;
  font-family: cursive;
  border-radius: 20% 0% 0% 20%;
  /* background: linear-gradient(to right,#dafae1, #dd3e54); */
  background: linear-gradient(to right, rgb(148, 226, 252), #fc7385);
  /* background: skyblue; */
}
@media (max-width: 1000px) {
  .tagline {
    /* text-align: left !important; */
    top: 70%;
    left: 3%;
  }
}

.about {
  /* padding: 10px; */
  top: 70%;
  right: 5%;
  width: 450px;
  position: absolute;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(to right, #fff, #aeeea8, #fff);
  /* background: skyblue; */
}
@media (max-width: 1000px) {
  .about {
    top: 120%;
    left: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* ! Zoom it out -1 ******************* */

#container {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  overflow: hidden;
  position: relative;
  /* background: skyblue; */
}
@media (max-width: 1000px) {
    #container {
      width: 400px;
      height: 400px;
    }
}

#container .circle {
  border-radius: 50%;
  background-color: deepskyblue;
  width: 250px;
  height: 250px;
  position: absolute;
  opacity: 0;
  animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}
@media (max-width: 1000px) {
    #container .circle {
      width: 150px;
      height: 150px;
    }
}

@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

.item {
  z-index: 100;
  position: absolute;
  /* left: 45%; */
  top: 110px;
  font-size: 2rem;
  font-weight: 800;
  color: #dd3e54;
}
@media (max-width: 1000px) {
    .item {
      top: 55px;
    }
}
.item:hover {
  color: #921828;
}

/* ! zoom in out -2 */

.Zoom_in_out {
  /* .feature img {
    position: absolute;
    border-radius: 100%;
    opacity: 0.1; */
  -webkit-animation: zoominout 4s infinite;
  animation: zoominout 4s infinite;
  animation: infinite;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: zoominout;
}

@keyframes zoominout {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

#z-in-o-1 {
  /* .feature .circle { */
  width: 3%;
  height: 6%;
  top: 58%;
  right: 8%;
  position: absolute;
  border-radius: 100%;
  opacity: 0.2;
  background: linear-gradient(to right, #dafae1, #dd3e54);
}
@media (max-width: 590px) {
    #z-in-o-1 {
      /* right: 50%; */
      width: 6%;
    }
}

#z-in-o-2 {
  /* .feature .circle { */
  width: 10%;
  height: 20%;
  top: 25%;
  right: 40%;
  position: absolute;
  border-radius: 100%;
  opacity: 0.5;
  background: linear-gradient(to right, #dafae1, #20740f);
}
@media (max-width: 590px) {
    #z-in-o-2 {
      /* right: 50%; */
      width: 20%;
      right: 25%;
      top: 21%;
    }
}

#z-in-o-3 {
  /* .feature .circle { */
  width: 15%;
  height: 30%;
  top: 90%;
  right: 60%;
  position: absolute;
  border-radius: 100%;
  opacity: 0.2;
  background: linear-gradient(to right, #dafae1, #dd3e54);
}
@media (max-width: 590px) {
    #z-in-o-3 {
      /* right: 50%; */
      width: 30%;
    }
}
#z-in-o-4 {
  /* .feature .circle { */
  width: 5%;
  height: 10%;
  top: 25%;
  left: 5%;
  position: absolute;
  border-radius: 100%;
  opacity: 0.2;
  background: linear-gradient(to right, #dd3e54, #dafae1);
}
@media (max-width: 590px) {
    #z-in-o-4 {
      /* right: 50%; */
      width: 10%;
    }
}
#z-in-o-5 {
    /* .feature .circle { */
    width: 5%;
    height: 10%;
    top: 105%;
    right: 15%;
    position: absolute;
    border-radius: 100%;
    opacity: 0.2;
    background: linear-gradient(to right, #dd3e54, #dafae1);
  }
  @media (max-width: 590px) {
      #z-in-o-5 {
        /* right: 50%; */
        width: 10%;
      }
  }

/* ! pix-slider */
.pix-slider {
  padding: 10px;
  background: #0e644f;
  background: linear-gradient(to right, #dafae1, #dd3e54, #dafae1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
    .pix-slider {
      margin-top: 300px;
    }
}
.pix-slide {
  background: url(img1/hacking0.png);
  width: 500px;
  height: 312px;
  border: 1px solid white;
  /* border-left: 1px solid white; */
}
.pix-slide1 {
  background: url(img1/img11.jpg);
  width: 500px;
  height: 312px;
  border: 1px solid white;
  /* border-left: 1px solid white; */
}

/* ! Hover Over */
.content {
  float: right;
  margin-bottom: 80px;
}
.button {
  background-color: #3c4245;
  color: #fff;
  display: inline-block;
  margin: 20px 240px;
  border: 2px solid #3c4245;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button a {
  display: block;
  position: relative;
  padding: 20px 30px;
  text-decoration: none;
  color: inherit;
  line-height: 16px;
  /* white-space: pre-wrap; */
  word-wrap: break-word;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #fff;
  border-color: #3c4245;
  color: #3c4245;
}
#h1{
    margin: 40px;
}
@media (max-width: 1000px) {
    #h1 {
      margin: 20px 0px 20px 20px;
    }
}
/***/
/*************************************************  Pixel-2.0  ****************************************/
/***/
